body {
  background-color: #EFB341;
  color: white;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  padding: 32px;
}
h2.subtitle {
  font-size: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1.name {
  margin-bottom: 0px;
}
img.mepic {
  width: 150px;
}
a {
  color: white;
}
ul a {
  color: white;
  font-style: normal;
  text-decoration: none;
}
.link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  overflow: auto;
}
.subsection {
  display: none;
  float: left;
  position: fixed;
  left: 250px;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
}
.aboutme {
  font-size: 100%;
  width: 70%;
  max-width: 500px;
}
.project_image {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}
.projects {
  list-style-type: none;
  overflow-y: scroll;
  height: 100%;
}
.projects li {
  padding-top: 20px;
}
.project_description {
  width: 500px;
  overflow: auto;
}
.project_list {
  top: 0px;
}
