/* Blue monochrome theme */

/* name box color */
    .name {
        background-color: #2f74a3;
    }
/* position box color */
    .position {
        background-color: #3479a9;
    }

/* tabs and icons */

/* about tab color */
    .tabs li.about a {
    background: #3479a9;
    }
/* about icon colors */ 
    .tabs li.about.active a,
    .tabs li.about a:hover {
        color: #3479a9;
    }

/* resume tab color */
    .tabs li.resume a {
    background: #387faf;
    }
/* resume icon colors */ 
    .tabs li.resume.active a,
    .tabs li.resume a:hover {
        color: #387faf;
    }

/* portfolio tab color */
    .tabs li.portfolio a {
    background: #3d84b5;
    }
/* portfolio icon colors */ 
    .tabs li.portfolio.active a,
    .tabs li.portfolio a:hover {
        color: #3d84b5;
    }

/* contacts tab color */
    .tabs li.contacts a {
    background: #438abb;
    }
/* contacts icon colors */
    .tabs li.contacts.active a,
    .tabs li.contacts a:hover {
        color: #438abb;
    }

/* feedback tab color */
    .tabs li.feedback a {
    background: #4790c1;
    }
/* feedback icon colors */
    .tabs li.feedback.active a,
    .tabs li.feedback a:hover {
        color: #4790c1;
    }

    
/* main page content first line text color */ 
    .blue {
    color: #2f74a3 !important;
    }
/* main page content second line text color */
    .orange {
    color: #2f74a3 !important;
    }
/* main page content phone number color */ 
    #home span {
    color: #4790c1;
    font-size: 32px;
    margin: 12px 0 0 4px;
    }


/* active button color */
    .button-red {
    background: #2f74a3 !important;
    }
/* non-active button color */
    .button-blue {
    background: #438abb !important;
    }    