/* Colorful-red monochrome theme */

/* name box color */
    .name {
        background-color: #ed002f;
    }
/* position box color */
    .position {
        background-color: #cf0029;
    }


/* tabs and icons */

/* about tab color */
    .tabs li.about a {
    background: #0a7b83;
    }
/* about icon colors */ 
    .tabs li.about.active a,
    .tabs li.about a:hover {
        color: #0a7b83;
    }

/* resume tab color */
    .tabs li.resume a {
    background: #2aa876;
    }
/* resume icon colors */ 
    .tabs li.resume.active a,
    .tabs li.resume a:hover {
        color: #2aa876;
    }

/* portfolio tab color */
    .tabs li.portfolio a {
    background: #ffd265;
    }
/* portfolio icon colors */ 
    .tabs li.portfolio.active a,
    .tabs li.portfolio a:hover {
        color: #ffd265;
    }

/* contacts tab color */
    .tabs li.contacts a {
    background: #f19c65;
    }
/* contacts icon colors */
    .tabs li.contacts.active a,
    .tabs li.contacts a:hover {
        color: #f19c65;
    }

/* feedback tab color */
    .tabs li.feedback a {
    background: #ce4d45;
    }
/* feedback icon colors */
    .tabs li.feedback.active a,
    .tabs li.feedback a:hover {
        color: #ce4d45;
    }



/* main page content first line text color */     
    .blue {
    color: #ed002f !important;
    }
/* main page content second line text color */
    .orange {
    color: #ed002f !important;
    }
/* main page content phone number color */ 
    #home span {
    color: #f19c65;
    font-size: 32px;
    margin: 12px 0 0 4px;
    }


/* active button color */
    .button-red {
    background: #ed002f !important;
    }
/* non-active button color */
    .button-blue {
    background: #f19c65 !important;
    }    