/* Green monochrome theme */

/* name box color */ 
    .name {
        background-color: #81b625;
    }
/* position box color */
    .position {
        background-color: #87bb2c;
    }

/* tabs and icons */

/* about tab color */
    .tabs li.about a {
    background: #87bb2c;
    }
/* about icon colors */
    .tabs li.about.active a,
    .tabs li.about a:hover {
        color: #87bb2c;
    }

/* resume tab color */
    .tabs li.resume a {
    background: #8ec037;
    }
/* resume icon colors */ 
    .tabs li.resume.active a,
    .tabs li.resume a:hover {
        color: #8ec037;
    }

/* portfolio tab color */
    .tabs li.portfolio a {
    background: #93c43e;
    }
/* portfolio icon colors */     
    .tabs li.portfolio.active a,
    .tabs li.portfolio a:hover {
        color: #93c43e;
    }

/* contacts tab color */
    .tabs li.contacts a {
    background: #97c842;
    }
/* contacts icon colors */    
    .tabs li.contacts.active a,
    .tabs li.contacts a:hover {
        color: #97c842;
    }

/* feedback tab color */
    .tabs li.feedback a {
    background: #9bcc45;
    }
/* feedback icon colors */    
    .tabs li.feedback.active a,
    .tabs li.feedback a:hover {
        color: #9bcc45;
    }


/* main page content first line text color */    
    .blue {
    color: #81b625 !important;
    }
/* main page content second line text color */
    .orange {
    color: #81b625 !important;
    }
/* main page content phone number color */    
    #home span {
    color: #9bcc45;
    font-size: 32px;
    margin: 12px 0 0 4px;
    }

/* active button color */
    .button-red {
    background: #81b625 !important;
    }
/* non-active button color */    
    .button-blue {
    background: #97c842 !important;
    }    