/* Light grey monochrome theme */

/* name box color */
    .name {
        background-color: #999999;
    }
/* position box color */
    .position {
        background-color: #a0a0a0;
    }

/* tabs and icons */

/* about tab color */
    .tabs li.about a {
    background: #a0a0a0;
    }
/* about icon colors */     
    .tabs li.about.active a,
    .tabs li.about a:hover {
        color: #a0a0a0;
    }

/* resume tab color */
    .tabs li.resume a {
    background: #a7a7a7;
    }
/* resume icon colors */     
    .tabs li.resume.active a,
    .tabs li.resume a:hover {
        color: #a7a7a7;
    }

/* portfolio tab color */
    .tabs li.portfolio a {
    background: #acacac;
    }
/* portfolio icon colors */    
    .tabs li.portfolio.active a,
    .tabs li.portfolio a:hover {
        color: #acacac;
    }

/* contacts tab color */
    .tabs li.contacts a {
    background: #b1b1b1;
    }
/* contacts icon colors */    
    .tabs li.contacts.active a,
    .tabs li.contacts a:hover {
        color: #b1b1b1;
    }

/* feedback tab color */
    .tabs li.feedback a {
    background: #b6b6b6;
    }
/* feedback icon colors */    
    .tabs li.feedback.active a,
    .tabs li.feedback a:hover {
        color: #b6b6b6;
    }


/* main page content first line text color */     
    .blue {
    color: #a0a0a0 !important;
    }
/* main page content second line text color */
    .orange {
    color: #a0a0a0 !important;
    }
/* main page content phone number color */    
    #home span {
    color: #b1b1b1;
    font-size: 32px;
    margin: 12px 0 0 4px;
    }

/* active button color */
    .button-red {
    background: #999999 !important;
    }
/* non-active button color */    
    .button-blue {
    background: #b1b1b1 !important;
    }    