/* Red monochrome theme */

/* name box color */
    .name {
        background-color: #d23200;
    }
/* position box color */
    .position {
        background-color: #d73300;
    }

/* tabs and icons */

/* about tab color */
    .tabs li.about a {
    background: #d73300;
    }
/* about icon colors */ 
    .tabs li.about.active a,
    .tabs li.about a:hover {
        color: #d73300;
    }

/* resume tab color */
    .tabs li.resume a {
    background: #e1400e;
    }
/* resume icon colors */ 
    .tabs li.resume.active a,
    .tabs li.resume a:hover {
        color: #e1400e;
    }

/* portfolio tab color */
    .tabs li.portfolio a {
    background: #e94816;
    }
/* portfolio icon colors */ 
    .tabs li.portfolio.active a,
    .tabs li.portfolio a:hover {
        color: #e94816;
    }

/* contacts tab color */
    .tabs li.contacts a {
    background: #ed5020;
    }
/* contacts icon colors */
    .tabs li.contacts.active a,
    .tabs li.contacts a:hover {
        color: #ed5020;
    }

/* feedback tab color */
    .tabs li.feedback a {
    background: #f45726;
    }
/* feedback icon colors */
    .tabs li.feedback.active a,
    .tabs li.feedback a:hover {
        color: #f45726;
    }

    
/* main page content first line text color */ 
    .blue {
    color: #d73300 !important;
    }
/* main page content second line text color */
    .orange {
    color: #d73300 !important;
    }
/* main page content phone number color */ 
    #home span {
    color: #f45726;
    font-size: 32px;
    margin: 12px 0 0 4px;
    }


/* active button color */
    .button-red {
    background: #d23200 !important;
    }
/* non-active button color */
    .button-blue {
    background: #ed5020 !important;
    }    